{"openapi":"3.1.1","info":{"title":"Planning Center Calendar","version":"2022-07-07","description":"Reserve rooms, publish event calendars, and revolutionize the way you allocate your church’s resources.","termsOfService":"https://planningcenter.com/terms","contact":{"name":"Planning Center","url":"https://www.planningcenter.com","email":"support@planningcenter.com"},"x-pco-api-version":"15.2.0"},"externalDocs":{"description":"Planning Center developer documentation","url":"https://planningcenter.com/developers"},"servers":[{"url":"https://api.planningcenteronline.com/calendar/v2"}],"security":[{"oauth2":["resources"]},{"personal_access_token":[]}],"tags":[{"name":"Event","description":"An event.\n\nMay contain information such as who owns\nthe event, visibility on Church Center and a public-facing summary.\n"},{"name":"Person","description":"The people in your organization with access to Calendar.\n"},{"name":"Resource","description":"A room or resource that can be requested for use as part of\nan event.\n"},{"name":"Attachment","description":"An uploaded file attached to an event.\n"},{"name":"Conflict","description":"A conflict between two events caused by overlapping event resource\nrequests.\n\nIf the conflict has been resolved, `resolved_at` will be present.\n"},{"name":"EventInstance","description":"A specific occurrence of an event.\n\nIf the event is recurring, `recurrence` will be set and\n`recurrence_description` will provide an overview of the recurrence pattern.\n"},{"name":"EventResourceRequest","description":"A room or resource request for a specific event.\n"},{"name":"Feed","description":"A feed belonging to an organization.\n"},{"name":"ResourceBooking","description":"A specific booking of a room or resource for an event instance.\n"},{"name":"RoomSetup","description":"A diagram and list of suggested resources useful for predefined room setups.\n"},{"name":"JobStatus"},{"name":"ReportTemplate","description":"A template for generating a report.\n"},{"name":"ResourceApprovalGroup","description":"A group of people that can be attached to a room or resource\nin order to require their approval for booking.\n"},{"name":"ResourceFolder","description":"An organizational folder containing rooms or resources.\n"},{"name":"ResourceQuestion","description":"A question to answer when requesting to book a room or resource.\n"},{"name":"TagGroup","description":"A grouping of tags for organizational purposes.\n"}],"paths":{"/attachments":{"summary":"Attachment","description":"An uploaded file attached to an event.\n","get":{"tags":["Attachment"],"parameters":[{"$ref":"#/components/parameters/attachment_where_content_type_parameter"},{"$ref":"#/components/parameters/attachment_where_created_at_parameter"},{"$ref":"#/components/parameters/attachment_where_created_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_created_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_created_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_created_at_lte_parameter"},{"$ref":"#/components/parameters/attachment_where_description_parameter"},{"$ref":"#/components/parameters/attachment_where_file_size_parameter"},{"$ref":"#/components/parameters/attachment_where_name_parameter"},{"$ref":"#/components/parameters/attachment_where_updated_at_parameter"},{"$ref":"#/components/parameters/attachment_where_updated_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_updated_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_updated_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_approval_status_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_featured_parameter"},{"$ref":"#/components/parameters/event_where_event_name_parameter"},{"$ref":"#/components/parameters/event_where_event_feed_id_parameter"},{"$ref":"#/components/parameters/event_where_event_percent_approved_parameter"},{"$ref":"#/components/parameters/event_where_event_percent_rejected_parameter"},{"$ref":"#/components/parameters/event_where_event_updated_at_parameter"},{"$ref":"#/components/parameters/event_where_event_updated_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_event_updated_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_event_updated_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_event_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_visible_in_church_center_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_content_type_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_created_at_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_created_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_created_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_created_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_created_at_lte_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_description_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_file_size_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_name_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_updated_at_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_updated_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_updated_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_updated_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_updated_at_lte_parameter"},{"$ref":"#/components/parameters/feed_where_event_feed_feed_type_parameter"},{"$ref":"#/components/parameters/feed_where_event_feed_source_id_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_created_at_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_created_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_created_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_created_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_created_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_first_name_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_last_name_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_middle_name_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_updated_at_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_updated_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_updated_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_updated_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_church_center_category_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_color_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_created_at_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_created_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_created_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_created_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_created_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_name_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_position_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_updated_at_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_updated_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_updated_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_updated_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_id_parameter"},{"$ref":"#/components/parameters/attachment_order_parameter"},{"$ref":"#/components/parameters/attachment_include_parameter"},{"$ref":"#/components/parameters/attachment_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/feed_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/person_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/tag_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/organization_attachments_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/attachments/{attachment_id}":{"summary":"Attachment","description":"An uploaded file attached to an event.\n","get":{"tags":["Attachment"],"parameters":[{"name":"attachment_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Attachment id"},{"$ref":"#/components/parameters/attachment_include_parameter"},{"$ref":"#/components/parameters/attachment_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/feed_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/person_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/tag_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/organization_attachments_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/attachments/{attachment_id}/event":{"summary":"Event","description":"An event.\n\nMay contain information such as who owns\nthe event, visibility on Church Center and a public-facing summary.\n","get":{"tags":["Attachment"],"parameters":[{"name":"attachment_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Attachment id"},{"$ref":"#/components/parameters/event_where_approval_status_parameter"},{"$ref":"#/components/parameters/event_where_created_at_parameter"},{"$ref":"#/components/parameters/event_where_created_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_created_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_created_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_created_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_featured_parameter"},{"$ref":"#/components/parameters/event_where_name_parameter"},{"$ref":"#/components/parameters/event_where_feed_id_parameter"},{"$ref":"#/components/parameters/event_where_percent_approved_parameter"},{"$ref":"#/components/parameters/event_where_percent_rejected_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_visible_in_church_center_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_content_type_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_lte_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_description_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_file_size_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_name_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_lte_parameter"},{"$ref":"#/components/parameters/feed_where_feed_feed_type_parameter"},{"$ref":"#/components/parameters/feed_where_feed_source_id_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_owner_first_name_parameter"},{"$ref":"#/components/parameters/person_where_owner_last_name_parameter"},{"$ref":"#/components/parameters/person_where_owner_middle_name_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_church_center_category_parameter"},{"$ref":"#/components/parameters/tag_where_tags_color_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_name_parameter"},{"$ref":"#/components/parameters/tag_where_tags_position_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_id_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_approval_status_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_featured_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_name_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_feed_id_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_percent_approved_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_percent_rejected_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_visible_in_church_center_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_gt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_gte_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_lt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_lte_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_name_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_gt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_gte_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_lt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_include_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/attachment_all_fields_parameter"},{"$ref":"#/components/parameters/feed_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/tag_all_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/taggroup_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/attachment_event_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/attachments/{attachment_id}/event/{event_id}":{"summary":"Event","description":"An event.\n\nMay contain information such as who owns\nthe event, visibility on Church Center and a public-facing summary.\n","get":{"tags":["Attachment"],"parameters":[{"name":"attachment_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Attachment id"},{"name":"event_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Event id"},{"$ref":"#/components/parameters/event_include_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/attachment_all_fields_parameter"},{"$ref":"#/components/parameters/feed_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/tag_all_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/taggroup_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/attachment_event_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/conflicts":{"summary":"Conflict","description":"A conflict between two events caused by overlapping event resource\nrequests.\n\nIf the conflict has been resolved, `resolved_at` will be present.\n","get":{"tags":["Conflict"],"parameters":[{"$ref":"#/components/parameters/organization_conflicts_filter_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_created_at_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_created_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_created_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_created_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_created_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_first_name_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_last_name_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_middle_name_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_updated_at_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_updated_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_updated_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_updated_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_resolved_by_updated_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_created_at_parameter"},{"$ref":"#/components/parameters/resource_where_resource_created_at_gt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_created_at_gte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_created_at_lt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_created_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_kind_parameter"},{"$ref":"#/components/parameters/resource_where_resource_name_parameter"},{"$ref":"#/components/parameters/resource_where_resource_serial_number_parameter"},{"$ref":"#/components/parameters/resource_where_resource_updated_at_parameter"},{"$ref":"#/components/parameters/resource_where_resource_updated_at_gt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_updated_at_gte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_updated_at_lt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_updated_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_path_name_parameter"},{"$ref":"#/components/parameters/resource_where_resource_resource_folder_id_parameter"},{"$ref":"#/components/parameters/event_where_winner_approval_status_parameter"},{"$ref":"#/components/parameters/event_where_winner_created_at_parameter"},{"$ref":"#/components/parameters/event_where_winner_created_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_winner_created_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_winner_created_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_winner_created_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_winner_featured_parameter"},{"$ref":"#/components/parameters/event_where_winner_name_parameter"},{"$ref":"#/components/parameters/event_where_winner_feed_id_parameter"},{"$ref":"#/components/parameters/event_where_winner_percent_approved_parameter"},{"$ref":"#/components/parameters/event_where_winner_percent_rejected_parameter"},{"$ref":"#/components/parameters/event_where_winner_updated_at_parameter"},{"$ref":"#/components/parameters/event_where_winner_updated_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_winner_updated_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_winner_updated_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_winner_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_winner_visible_in_church_center_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_resource_approval_groups_created_at_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_resource_approval_groups_created_at_gt_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_resource_approval_groups_created_at_gte_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_resource_approval_groups_created_at_lt_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_resource_approval_groups_created_at_lte_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_resource_approval_groups_name_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_resource_approval_groups_updated_at_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_resource_approval_groups_updated_at_gt_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_resource_approval_groups_updated_at_gte_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_resource_approval_groups_updated_at_lt_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_resource_approval_groups_updated_at_lte_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_resource_approval_groups_id_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_created_at_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_created_at_gt_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_created_at_gte_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_created_at_lt_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_created_at_lte_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_name_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_updated_at_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_updated_at_gt_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_updated_at_gte_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_updated_at_lt_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_updated_at_lte_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_ancestry_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_resource_folder_path_name_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_resource_questions_created_at_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_resource_questions_created_at_gt_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_resource_questions_created_at_gte_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_resource_questions_created_at_lt_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_resource_questions_created_at_lte_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_resource_questions_kind_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_resource_questions_updated_at_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_resource_questions_updated_at_gt_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_resource_questions_updated_at_gte_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_resource_questions_updated_at_lt_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_resource_questions_updated_at_lte_parameter"},{"$ref":"#/components/parameters/roomsetup_where_resource_room_setups_created_at_parameter"},{"$ref":"#/components/parameters/roomsetup_where_resource_room_setups_created_at_gt_parameter"},{"$ref":"#/components/parameters/roomsetup_where_resource_room_setups_created_at_gte_parameter"},{"$ref":"#/components/parameters/roomsetup_where_resource_room_setups_created_at_lt_parameter"},{"$ref":"#/components/parameters/roomsetup_where_resource_room_setups_created_at_lte_parameter"},{"$ref":"#/components/parameters/roomsetup_where_resource_room_setups_name_parameter"},{"$ref":"#/components/parameters/roomsetup_where_resource_room_setups_updated_at_parameter"},{"$ref":"#/components/parameters/roomsetup_where_resource_room_setups_updated_at_gt_parameter"},{"$ref":"#/components/parameters/roomsetup_where_resource_room_setups_updated_at_gte_parameter"},{"$ref":"#/components/parameters/roomsetup_where_resource_room_setups_updated_at_lt_parameter"},{"$ref":"#/components/parameters/roomsetup_where_resource_room_setups_updated_at_lte_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_content_type_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_created_at_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_created_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_created_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_created_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_created_at_lte_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_description_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_file_size_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_name_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_updated_at_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_updated_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_updated_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_updated_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_winner_attachments_updated_at_lte_parameter"},{"$ref":"#/components/parameters/feed_where_winner_feed_feed_type_parameter"},{"$ref":"#/components/parameters/feed_where_winner_feed_source_id_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_created_at_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_created_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_created_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_created_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_created_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_first_name_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_last_name_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_middle_name_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_updated_at_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_updated_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_updated_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_updated_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_winner_owner_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_church_center_category_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_color_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_created_at_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_created_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_created_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_created_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_created_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_name_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_position_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_updated_at_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_updated_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_updated_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_updated_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_winner_tags_id_parameter"},{"$ref":"#/components/parameters/conflict_order_parameter"},{"$ref":"#/components/parameters/conflict_include_parameter"},{"$ref":"#/components/parameters/conflict_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/resource_all_fields_parameter"},{"$ref":"#/components/parameters/attachment_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/feed_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/resourcefolder_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/resourcequestion_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/roomsetup_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/tag_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/organization_conflicts_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/conflicts/{conflict_id}":{"summary":"Conflict","description":"A conflict between two events caused by overlapping event resource\nrequests.\n\nIf the conflict has been resolved, `resolved_at` will be present.\n","get":{"tags":["Conflict"],"parameters":[{"name":"conflict_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Conflict id"},{"$ref":"#/components/parameters/conflict_include_parameter"},{"$ref":"#/components/parameters/conflict_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/resource_all_fields_parameter"},{"$ref":"#/components/parameters/attachment_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/feed_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/resourcefolder_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/resourcequestion_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/roomsetup_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/tag_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/organization_conflicts_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/conflicts/{conflict_id}/resolved_by":{"summary":"Person","description":"The people in your organization with access to Calendar.\n","get":{"tags":["Conflict"],"parameters":[{"name":"conflict_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Conflict id"},{"$ref":"#/components/parameters/person_where_created_at_parameter"},{"$ref":"#/components/parameters/person_where_created_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_created_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_created_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_created_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_first_name_parameter"},{"$ref":"#/components/parameters/person_where_last_name_parameter"},{"$ref":"#/components/parameters/person_where_middle_name_parameter"},{"$ref":"#/components/parameters/person_where_updated_at_parameter"},{"$ref":"#/components/parameters/person_where_updated_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_updated_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_updated_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_updated_at_lte_parameter"},{"$ref":"#/components/parameters/person_order_parameter"},{"$ref":"#/components/parameters/person_include_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/organization_all_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/conflict_resolved_by_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/conflicts/{conflict_id}/resolved_by/{resolved_by_id}":{"summary":"Person","description":"The people in your organization with access to Calendar.\n","get":{"tags":["Conflict"],"parameters":[{"name":"conflict_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Conflict id"},{"name":"resolved_by_id","in":"path","schema":{"type":"string"},"required":true,"description":"The ResolvedBy id"},{"$ref":"#/components/parameters/person_include_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/organization_all_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/conflict_resolved_by_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/conflicts/{conflict_id}/resource":{"summary":"Resource","description":"A room or resource that can be requested for use as part of\nan event.\n","get":{"tags":["Conflict"],"parameters":[{"name":"conflict_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Conflict id"},{"$ref":"#/components/parameters/resource_where_created_at_parameter"},{"$ref":"#/components/parameters/resource_where_created_at_gt_parameter"},{"$ref":"#/components/parameters/resource_where_created_at_gte_parameter"},{"$ref":"#/components/parameters/resource_where_created_at_lt_parameter"},{"$ref":"#/components/parameters/resource_where_created_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_kind_parameter"},{"$ref":"#/components/parameters/resource_where_name_parameter"},{"$ref":"#/components/parameters/resource_where_serial_number_parameter"},{"$ref":"#/components/parameters/resource_where_updated_at_parameter"},{"$ref":"#/components/parameters/resource_where_updated_at_gt_parameter"},{"$ref":"#/components/parameters/resource_where_updated_at_gte_parameter"},{"$ref":"#/components/parameters/resource_where_updated_at_lt_parameter"},{"$ref":"#/components/parameters/resource_where_updated_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_path_name_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_id_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_approval_groups_created_at_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_approval_groups_created_at_gt_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_approval_groups_created_at_gte_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_approval_groups_created_at_lt_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_approval_groups_created_at_lte_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_approval_groups_name_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_approval_groups_updated_at_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_approval_groups_updated_at_gt_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_approval_groups_updated_at_gte_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_approval_groups_updated_at_lt_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_approval_groups_updated_at_lte_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_where_resource_approval_groups_id_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_created_at_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_created_at_gt_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_created_at_gte_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_created_at_lt_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_created_at_lte_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_name_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_updated_at_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_updated_at_gt_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_updated_at_gte_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_updated_at_lt_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_updated_at_lte_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_ancestry_parameter"},{"$ref":"#/components/parameters/resourcefolder_where_resource_folder_path_name_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_questions_created_at_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_questions_created_at_gt_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_questions_created_at_gte_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_questions_created_at_lt_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_questions_created_at_lte_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_questions_kind_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_questions_updated_at_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_questions_updated_at_gt_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_questions_updated_at_gte_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_questions_updated_at_lt_parameter"},{"$ref":"#/components/parameters/resourcequestion_where_resource_questions_updated_at_lte_parameter"},{"$ref":"#/components/parameters/roomsetup_where_room_setups_created_at_parameter"},{"$ref":"#/components/parameters/roomsetup_where_room_setups_created_at_gt_parameter"},{"$ref":"#/components/parameters/roomsetup_where_room_setups_created_at_gte_parameter"},{"$ref":"#/components/parameters/roomsetup_where_room_setups_created_at_lt_parameter"},{"$ref":"#/components/parameters/roomsetup_where_room_setups_created_at_lte_parameter"},{"$ref":"#/components/parameters/roomsetup_where_room_setups_name_parameter"},{"$ref":"#/components/parameters/roomsetup_where_room_setups_updated_at_parameter"},{"$ref":"#/components/parameters/roomsetup_where_room_setups_updated_at_gt_parameter"},{"$ref":"#/components/parameters/roomsetup_where_room_setups_updated_at_gte_parameter"},{"$ref":"#/components/parameters/roomsetup_where_room_setups_updated_at_lt_parameter"},{"$ref":"#/components/parameters/roomsetup_where_room_setups_updated_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_created_at_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_created_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_created_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_created_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_created_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_first_name_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_last_name_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_middle_name_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_updated_at_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_updated_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_updated_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_updated_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_resource_approval_groups_people_updated_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_created_at_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_created_at_gt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_created_at_gte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_created_at_lt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_created_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_kind_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_name_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_serial_number_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_updated_at_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_updated_at_gt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_updated_at_gte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_updated_at_lt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_updated_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_path_name_parameter"},{"$ref":"#/components/parameters/resource_where_resource_approval_groups_resources_resource_folder_id_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_created_at_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_created_at_gt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_created_at_gte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_created_at_lt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_created_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_kind_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_name_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_serial_number_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_updated_at_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_updated_at_gt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_updated_at_gte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_updated_at_lt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_updated_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_path_name_parameter"},{"$ref":"#/components/parameters/resource_where_resource_folder_resources_resource_folder_id_parameter"},{"$ref":"#/components/parameters/resource_order_parameter"},{"$ref":"#/components/parameters/resource_include_parameter"},{"$ref":"#/components/parameters/resource_all_fields_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_all_fields_parameter"},{"$ref":"#/components/parameters/resourcefolder_all_fields_parameter"},{"$ref":"#/components/parameters/resourcequestion_all_fields_parameter"},{"$ref":"#/components/parameters/roomsetup_all_fields_parameter"},{"$ref":"#/components/parameters/person_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/resourcesuggestion_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/conflict_resource_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/conflicts/{conflict_id}/resource/{resource_id}":{"summary":"Resource","description":"A room or resource that can be requested for use as part of\nan event.\n","get":{"tags":["Conflict"],"parameters":[{"name":"conflict_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Conflict id"},{"name":"resource_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Resource id"},{"$ref":"#/components/parameters/resource_include_parameter"},{"$ref":"#/components/parameters/resource_all_fields_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_all_fields_parameter"},{"$ref":"#/components/parameters/resourcefolder_all_fields_parameter"},{"$ref":"#/components/parameters/resourcequestion_all_fields_parameter"},{"$ref":"#/components/parameters/roomsetup_all_fields_parameter"},{"$ref":"#/components/parameters/person_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/resourcesuggestion_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/conflict_resource_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}},"patch":{"tags":["Conflict"],"parameters":[{"name":"conflict_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Conflict id"},{"name":"resource_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Resource id"},{"$ref":"#/components/parameters/resource_include_parameter"},{"$ref":"#/components/parameters/resource_all_fields_parameter"},{"$ref":"#/components/parameters/resourceapprovalgroup_all_fields_parameter"},{"$ref":"#/components/parameters/resourcefolder_all_fields_parameter"},{"$ref":"#/components/parameters/resourcequestion_all_fields_parameter"},{"$ref":"#/components/parameters/roomsetup_all_fields_parameter"},{"$ref":"#/components/parameters/person_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/resourcesuggestion_only_attributes_fields_parameter"}],"requestBody":{"$ref":"#/components/requestBodies/resource_resource_update"},"responses":{"200":{"description":"Successful update response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/conflict_resource_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_modify"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"409":{"$ref":"#/components/responses/409"},"422":{"$ref":"#/components/responses/422"},"500":{"$ref":"#/components/responses/500"}}},"delete":{"tags":["Conflict"],"parameters":[{"name":"conflict_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Conflict id"},{"name":"resource_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Resource id"}],"responses":{"204":{"description":"Successful destroy response (no content)"},"400":{"$ref":"#/components/responses/400_destroy"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/conflicts/{conflict_id}/winner":{"summary":"Event","description":"An event.\n\nMay contain information such as who owns\nthe event, visibility on Church Center and a public-facing summary.\n","get":{"tags":["Conflict"],"parameters":[{"name":"conflict_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Conflict id"},{"$ref":"#/components/parameters/event_where_approval_status_parameter"},{"$ref":"#/components/parameters/event_where_created_at_parameter"},{"$ref":"#/components/parameters/event_where_created_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_created_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_created_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_created_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_featured_parameter"},{"$ref":"#/components/parameters/event_where_name_parameter"},{"$ref":"#/components/parameters/event_where_feed_id_parameter"},{"$ref":"#/components/parameters/event_where_percent_approved_parameter"},{"$ref":"#/components/parameters/event_where_percent_rejected_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_visible_in_church_center_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_content_type_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_lte_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_description_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_file_size_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_name_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_lte_parameter"},{"$ref":"#/components/parameters/feed_where_feed_feed_type_parameter"},{"$ref":"#/components/parameters/feed_where_feed_source_id_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_owner_first_name_parameter"},{"$ref":"#/components/parameters/person_where_owner_last_name_parameter"},{"$ref":"#/components/parameters/person_where_owner_middle_name_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_church_center_category_parameter"},{"$ref":"#/components/parameters/tag_where_tags_color_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_name_parameter"},{"$ref":"#/components/parameters/tag_where_tags_position_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_id_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_approval_status_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_featured_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_name_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_feed_id_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_percent_approved_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_percent_rejected_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_visible_in_church_center_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_gt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_gte_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_lt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_lte_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_name_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_gt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_gte_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_lt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_include_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/attachment_all_fields_parameter"},{"$ref":"#/components/parameters/feed_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/tag_all_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/taggroup_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/conflict_winner_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/conflicts/{conflict_id}/winner/{winner_id}":{"summary":"Event","description":"An event.\n\nMay contain information such as who owns\nthe event, visibility on Church Center and a public-facing summary.\n","get":{"tags":["Conflict"],"parameters":[{"name":"conflict_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Conflict id"},{"name":"winner_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Winner id"},{"$ref":"#/components/parameters/event_include_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/attachment_all_fields_parameter"},{"$ref":"#/components/parameters/feed_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/tag_all_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/taggroup_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/conflict_winner_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/event_instances":{"summary":"EventInstance","description":"A specific occurrence of an event.\n\nIf the event is recurring, `recurrence` will be set and\n`recurrence_description` will provide an overview of the recurrence pattern.\n","get":{"tags":["EventInstance"],"parameters":[{"$ref":"#/components/parameters/organization_event_instances_filter_parameter"},{"$ref":"#/components/parameters/eventinstance_where_created_at_parameter"},{"$ref":"#/components/parameters/eventinstance_where_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_ends_at_parameter"},{"$ref":"#/components/parameters/eventinstance_where_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_ends_at_lte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_event_name_parameter"},{"$ref":"#/components/parameters/eventinstance_where_kind_parameter"},{"$ref":"#/components/parameters/eventinstance_where_starts_at_parameter"},{"$ref":"#/components/parameters/eventinstance_where_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_tag_ids_parameter"},{"$ref":"#/components/parameters/eventinstance_where_updated_at_parameter"},{"$ref":"#/components/parameters/eventinstance_where_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_approval_status_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_featured_parameter"},{"$ref":"#/components/parameters/event_where_event_name_parameter"},{"$ref":"#/components/parameters/event_where_event_feed_id_parameter"},{"$ref":"#/components/parameters/event_where_event_percent_approved_parameter"},{"$ref":"#/components/parameters/event_where_event_percent_rejected_parameter"},{"$ref":"#/components/parameters/event_where_event_updated_at_parameter"},{"$ref":"#/components/parameters/event_where_event_updated_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_event_updated_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_event_updated_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_event_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_visible_in_church_center_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_starts_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_ends_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_ends_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_name_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_name_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_name_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_name_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_name_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_visible_on_kiosks_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_visible_on_widget_and_ical_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_created_at_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_created_at_gt_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_created_at_gte_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_created_at_lt_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_created_at_lte_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_ends_at_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_ends_at_gt_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_ends_at_gte_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_ends_at_lt_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_ends_at_lte_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_starts_at_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_starts_at_gt_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_starts_at_gte_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_starts_at_lt_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_starts_at_lte_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_updated_at_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_updated_at_gt_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_updated_at_gte_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_updated_at_lt_parameter"},{"$ref":"#/components/parameters/resourcebooking_where_resource_bookings_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_church_center_category_parameter"},{"$ref":"#/components/parameters/tag_where_tags_color_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_name_parameter"},{"$ref":"#/components/parameters/tag_where_tags_position_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_id_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_content_type_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_created_at_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_created_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_created_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_created_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_created_at_lte_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_description_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_file_size_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_name_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_updated_at_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_updated_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_updated_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_updated_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_event_attachments_updated_at_lte_parameter"},{"$ref":"#/components/parameters/feed_where_event_feed_feed_type_parameter"},{"$ref":"#/components/parameters/feed_where_event_feed_source_id_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_created_at_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_created_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_created_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_created_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_created_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_first_name_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_last_name_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_middle_name_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_updated_at_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_updated_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_updated_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_updated_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_event_owner_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_church_center_category_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_color_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_created_at_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_created_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_created_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_created_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_created_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_name_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_position_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_updated_at_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_updated_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_updated_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_updated_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_event_tags_id_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_approval_status_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_created_at_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_created_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_created_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_created_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_created_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_featured_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_name_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_feed_id_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_percent_approved_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_percent_rejected_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_updated_at_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_updated_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_updated_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_updated_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_visible_in_church_center_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_created_at_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_ends_at_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_ends_at_lte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_event_name_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_kind_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_starts_at_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_tag_ids_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_updated_at_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventinstance_where_resource_bookings_event_instance_updated_at_lte_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_where_resource_bookings_event_resource_request_approval_sent_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_where_resource_bookings_event_resource_request_approval_status_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_where_resource_bookings_event_resource_request_created_at_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_where_resource_bookings_event_resource_request_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_where_resource_bookings_event_resource_request_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_where_resource_bookings_event_resource_request_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_where_resource_bookings_event_resource_request_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_where_resource_bookings_event_resource_request_updated_at_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_where_resource_bookings_event_resource_request_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_where_resource_bookings_event_resource_request_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_where_resource_bookings_event_resource_request_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_where_resource_bookings_event_resource_request_updated_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_created_at_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_created_at_gt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_created_at_gte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_created_at_lt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_created_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_kind_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_name_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_serial_number_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_updated_at_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_updated_at_gt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_updated_at_gte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_updated_at_lt_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_updated_at_lte_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_path_name_parameter"},{"$ref":"#/components/parameters/resource_where_resource_bookings_resource_resource_folder_id_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_gt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_gte_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_lt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_lte_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_name_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_gt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_gte_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_lt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_lte_parameter"},{"$ref":"#/components/parameters/eventinstance_order_parameter"},{"$ref":"#/components/parameters/eventinstance_include_parameter"},{"$ref":"#/components/parameters/eventinstance_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/resourcebooking_all_fields_parameter"},{"$ref":"#/components/parameters/tag_all_fields_parameter"},{"$ref":"#/components/parameters/attachment_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/feed_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/person_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/resource_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/taggroup_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/organization_event_instances_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/event_instances/{event_instance_id}":{"summary":"EventInstance","description":"A specific occurrence of an event.\n\nIf the event is recurring, `recurrence` will be set and\n`recurrence_description` will provide an overview of the recurrence pattern.\n","get":{"tags":["EventInstance"],"parameters":[{"name":"event_instance_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventInstance id"},{"$ref":"#/components/parameters/eventinstance_include_parameter"},{"$ref":"#/components/parameters/eventinstance_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/resourcebooking_all_fields_parameter"},{"$ref":"#/components/parameters/tag_all_fields_parameter"},{"$ref":"#/components/parameters/attachment_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/eventresourcerequest_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/feed_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/person_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/resource_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/taggroup_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/organization_event_instances_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/event_instances/{event_instance_id}/event":{"summary":"Event","description":"An event.\n\nMay contain information such as who owns\nthe event, visibility on Church Center and a public-facing summary.\n","get":{"tags":["EventInstance"],"parameters":[{"name":"event_instance_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventInstance id"},{"$ref":"#/components/parameters/event_where_approval_status_parameter"},{"$ref":"#/components/parameters/event_where_created_at_parameter"},{"$ref":"#/components/parameters/event_where_created_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_created_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_created_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_created_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_featured_parameter"},{"$ref":"#/components/parameters/event_where_name_parameter"},{"$ref":"#/components/parameters/event_where_feed_id_parameter"},{"$ref":"#/components/parameters/event_where_percent_approved_parameter"},{"$ref":"#/components/parameters/event_where_percent_rejected_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_visible_in_church_center_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_content_type_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_created_at_lte_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_description_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_file_size_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_name_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_gt_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_gte_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_lt_parameter"},{"$ref":"#/components/parameters/attachment_where_attachments_updated_at_lte_parameter"},{"$ref":"#/components/parameters/feed_where_feed_feed_type_parameter"},{"$ref":"#/components/parameters/feed_where_feed_source_id_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_owner_created_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_owner_first_name_parameter"},{"$ref":"#/components/parameters/person_where_owner_last_name_parameter"},{"$ref":"#/components/parameters/person_where_owner_middle_name_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_gt_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_gte_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_lt_parameter"},{"$ref":"#/components/parameters/person_where_owner_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_church_center_category_parameter"},{"$ref":"#/components/parameters/tag_where_tags_color_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_created_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_name_parameter"},{"$ref":"#/components/parameters/tag_where_tags_position_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_gt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_gte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_lt_parameter"},{"$ref":"#/components/parameters/tag_where_tags_updated_at_lte_parameter"},{"$ref":"#/components/parameters/tag_where_tags_id_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_approval_status_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_created_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_featured_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_name_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_feed_id_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_percent_approved_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_percent_rejected_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_attachments_event_visible_in_church_center_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_gt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_gte_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_lt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_created_at_lte_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_name_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_gt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_gte_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_lt_parameter"},{"$ref":"#/components/parameters/taggroup_where_tags_tag_group_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_include_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/attachment_all_fields_parameter"},{"$ref":"#/components/parameters/feed_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/tag_all_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/taggroup_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/event_instance_event_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/event_instances/{event_instance_id}/event/{event_id}":{"summary":"Event","description":"An event.\n\nMay contain information such as who owns\nthe event, visibility on Church Center and a public-facing summary.\n","get":{"tags":["EventInstance"],"parameters":[{"name":"event_instance_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventInstance id"},{"name":"event_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Event id"},{"$ref":"#/components/parameters/event_include_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/attachment_all_fields_parameter"},{"$ref":"#/components/parameters/feed_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/tag_all_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/taggroup_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/event_instance_event_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/event_instances/{event_instance_id}/event_times":{"summary":"EventTime","description":"Start and end times for each event instance.\n\nIn the Calendar UI, these are represented under the \"Schedule\" section and\nmay include \"Setup\" and \"Teardown\" times for the instance.\n","get":{"tags":["EventInstance"],"parameters":[{"name":"event_instance_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventInstance id"},{"$ref":"#/components/parameters/eventtime_where_starts_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_ends_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_ends_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_name_parameter"},{"$ref":"#/components/parameters/eventtime_where_name_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_name_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_name_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_name_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_visible_on_kiosks_parameter"},{"$ref":"#/components/parameters/eventtime_where_visible_on_widget_and_ical_parameter"},{"$ref":"#/components/parameters/event_where_event_approval_status_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_gt_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_gte_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_lt_parameter"},{"$ref":"#/components/parameters/event_where_event_created_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_featured_parameter"},{"$ref":"#/components/parameters/event_where_event_name_parameter"},{"$ref":"#/components/parameters/event_where_event_feed_id_parameter"},{"$ref":"#/components/parameters/event_where_event_percent_approved_parameter"},{"$ref":"#/components/parameters/event_where_event_percent_rejected_parameter"},
[...]
