{"openapi":"3.1.1","info":{"title":"Planning Center Check-Ins","version":"2025-05-28","description":"Check kids \u0026 volunteers in to events and track attendance.","termsOfService":"https://planningcenter.com/terms","contact":{"name":"Planning Center","url":"https://www.planningcenter.com","email":"support@planningcenter.com"},"x-pco-api-version":"15.2.0"},"externalDocs":{"description":"Planning Center developer documentation","url":"https://planningcenter.com/developers"},"servers":[{"url":"https://api.planningcenteronline.com/check-ins/v2"}],"security":[{"oauth2":["check_ins"]},{"personal_access_token":[]}],"tags":[{"name":"Event","description":"A recurring event which people may attend.\n\nEach recurrence is an _event period_ (which often corresponds to a week).\n\nEvent periods have _event times_ where people may actually check in.\n"},{"name":"Headcount","description":"A tally of attendees for a given event time and attendance type.\nIf one does not exist, the count may have been zero.\n"},{"name":"Person","description":"An attendee, volunteer or administrator.\n\n_Usually_, a person who checked in will be present as a `Person`. In some cases, they may not be present:\n- The person was manually deleted from the admin interface\n- The check-in was created as a \"Visitor - Label Only\" (which doesn't create a corresponding person record)\n\n"},{"name":"EventTime","description":"A time that someone may check in. Times are copied from session to session.\n"},{"name":"CheckIn","description":"An attendance record for an event.\n\nIf someone was checked out, `checked_out_at` will be present.\n\nYou can scope check-ins in a few ways:\n\n- `regular`s, `guest`s, and `volunteer`s correspond to the option selected when checking in.\n- `attendee`s are `regular`s and `guest`s together.\n- `one_time_guest`s are check-ins which were created without a corresponding person record.\n- `not_one_time_guest`s are check-ins which had a corresponding person record when they were created.\n- `checked_out` are check-ins where `checked_out_at` is present (meaning they were checked out from a station).\n- `first_time`s are check-ins which are the person's first for a given event. (Label-only visitors are not included here.)\n"},{"name":"Option","description":"An option which an attendee may select when checking in.\n\nOptions may have extra labels associated with them, denoted by `label` and `quantity`.\n"},{"name":"IntegrationLink","description":"A record linking another product's resource to a Check-Ins resource."},{"name":"Label","description":"Labels can be set to print for events (through `EventLabel`s),\nlocations (through `LocationLabel`s) or options.\nLabel type (security label / name label) is expressed with the\n`prints_for` attribute. `prints_for=\"Person\"` is a name label,\n`prints_for=\"Group\"` is a security label.\n"},{"name":"Pass","description":"Enables quick lookup of a person via barcode reader.\n"},{"name":"Theme","description":"A custom style which may be applied to stations.\n"}],"paths":{"/check_ins":{"summary":"CheckIn","description":"An attendance record for an event.\n\nIf someone was checked out, `checked_out_at` will be present.\n\nYou can scope check-ins in a few ways:\n\n- `regular`s, `guest`s, and `volunteer`s correspond to the option selected when checking in.\n- `attendee`s are `regular`s and `guest`s together.\n- `one_time_guest`s are check-ins which were created without a corresponding person record.\n- `not_one_time_guest`s are check-ins which had a corresponding person record when they were created.\n- `checked_out` are check-ins where `checked_out_at` is present (meaning they were checked out from a station).\n- `first_time`s are check-ins which are the person's first for a given event. (Label-only visitors are not included here.)\n","get":{"tags":["CheckIn"],"parameters":[{"$ref":"#/components/parameters/organization_check_ins_filter_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_gt_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_gte_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_lt_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_lte_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_gt_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_gte_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_lt_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_lte_parameter"},{"$ref":"#/components/parameters/checkin_where_account_center_person_id_parameter"},{"$ref":"#/components/parameters/checkin_where_security_code_parameter"},{"$ref":"#/components/parameters/checkin_where_event_id_parameter"},{"$ref":"#/components/parameters/checkin_where_location_ids_parameter"},{"$ref":"#/components/parameters/person_where_checked_in_by_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_checked_in_by_permission_parameter"},{"$ref":"#/components/parameters/person_where_checked_in_by_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_checked_in_by_search_name_parameter"},{"$ref":"#/components/parameters/person_where_checked_out_by_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_checked_out_by_permission_parameter"},{"$ref":"#/components/parameters/person_where_checked_out_by_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_checked_out_by_search_name_parameter"},{"$ref":"#/components/parameters/event_where_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_name_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_person_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_person_permission_parameter"},{"$ref":"#/components/parameters/person_where_person_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_person_search_name_parameter"},{"$ref":"#/components/parameters/event_where_checked_in_at_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_checked_in_at_event_id_parameter"},{"$ref":"#/components/parameters/event_where_checked_in_at_event_name_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_id_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_name_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_name_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_name_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_lte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_gt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_gte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_lt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_lte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_gt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_gte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_lt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_locations_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_locations_event_id_parameter"},{"$ref":"#/components/parameters/event_where_locations_event_name_parameter"},{"$ref":"#/components/parameters/checkin_order_parameter"},{"$ref":"#/components/parameters/checkin_include_parameter"},{"$ref":"#/components/parameters/checkin_all_fields_parameter"},{"$ref":"#/components/parameters/checkintime_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/location_all_fields_parameter"},{"$ref":"#/components/parameters/option_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/station_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/headcount_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/label_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/theme_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/organization_check_ins_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}":{"summary":"CheckIn","description":"An attendance record for an event.\n\nIf someone was checked out, `checked_out_at` will be present.\n\nYou can scope check-ins in a few ways:\n\n- `regular`s, `guest`s, and `volunteer`s correspond to the option selected when checking in.\n- `attendee`s are `regular`s and `guest`s together.\n- `one_time_guest`s are check-ins which were created without a corresponding person record.\n- `not_one_time_guest`s are check-ins which had a corresponding person record when they were created.\n- `checked_out` are check-ins where `checked_out_at` is present (meaning they were checked out from a station).\n- `first_time`s are check-ins which are the person's first for a given event. (Label-only visitors are not included here.)\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"$ref":"#/components/parameters/checkin_include_parameter"},{"$ref":"#/components/parameters/checkin_all_fields_parameter"},{"$ref":"#/components/parameters/checkintime_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/location_all_fields_parameter"},{"$ref":"#/components/parameters/option_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/station_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/headcount_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/label_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/theme_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/organization_check_ins_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/check_in_group":{"summary":"CheckInGroup","description":"When one or more people check in, they're grouped in a `CheckInGroup`.\nThese check-ins all have the same \"checked-in by\" person.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"$ref":"#/components/parameters/checkin_where_check_ins_created_at_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_created_at_gt_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_created_at_gte_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_created_at_lt_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_created_at_lte_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_updated_at_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_updated_at_gt_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_updated_at_gte_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_updated_at_lt_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_updated_at_lte_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_account_center_person_id_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_security_code_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_event_id_parameter"},{"$ref":"#/components/parameters/checkin_where_check_ins_location_ids_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_check_ins_checked_in_by_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_check_ins_checked_in_by_permission_parameter"},{"$ref":"#/components/parameters/person_where_check_ins_checked_in_by_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_check_ins_checked_in_by_search_name_parameter"},{"$ref":"#/components/parameters/person_where_check_ins_checked_out_by_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_check_ins_checked_out_by_permission_parameter"},{"$ref":"#/components/parameters/person_where_check_ins_checked_out_by_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_check_ins_checked_out_by_search_name_parameter"},{"$ref":"#/components/parameters/event_where_check_ins_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_check_ins_event_id_parameter"},{"$ref":"#/components/parameters/event_where_check_ins_event_name_parameter"},{"$ref":"#/components/parameters/eventperiod_where_check_ins_event_period_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_check_ins_event_period_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_check_ins_event_period_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_check_ins_event_period_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_check_ins_event_period_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_check_ins_event_period_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_check_ins_event_period_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_check_ins_event_period_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_check_ins_event_period_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_check_ins_event_period_ends_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_check_ins_event_times_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_check_ins_event_times_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_check_ins_event_times_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_check_ins_event_times_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_check_ins_event_times_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_check_ins_event_times_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_check_ins_event_times_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_check_ins_event_times_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_check_ins_event_times_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_check_ins_event_times_updated_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_check_ins_person_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_check_ins_person_permission_parameter"},{"$ref":"#/components/parameters/person_where_check_ins_person_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_check_ins_person_search_name_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_name_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_print_station_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_print_station_event_id_parameter"},{"$ref":"#/components/parameters/event_where_print_station_event_name_parameter"},{"$ref":"#/components/parameters/checkingroup_include_parameter"},{"$ref":"#/components/parameters/checkingroup_all_fields_parameter"},{"$ref":"#/components/parameters/checkin_all_fields_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/station_all_fields_parameter"},{"$ref":"#/components/parameters/checkintime_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/event_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/eventtime_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/location_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/option_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/person_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/theme_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_check_in_group_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/check_in_group/{check_in_group_id}":{"summary":"CheckInGroup","description":"When one or more people check in, they're grouped in a `CheckInGroup`.\nThese check-ins all have the same \"checked-in by\" person.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"check_in_group_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckInGroup id"},{"$ref":"#/components/parameters/checkingroup_include_parameter"},{"$ref":"#/components/parameters/checkingroup_all_fields_parameter"},{"$ref":"#/components/parameters/checkin_all_fields_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/station_all_fields_parameter"},{"$ref":"#/components/parameters/checkintime_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/event_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/eventtime_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/location_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/option_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/person_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/theme_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_check_in_group_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/check_in_times":{"summary":"CheckInTime","description":"A CheckInTime combines an EventTime and a Location, and associates it with\nthe parent CheckIn.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"$ref":"#/components/parameters/checkintime_all_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_check_in_times_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/check_in_times/{check_in_time_id}":{"summary":"CheckInTime","description":"A CheckInTime combines an EventTime and a Location, and associates it with\nthe parent CheckIn.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"check_in_time_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckInTime id"},{"$ref":"#/components/parameters/checkintime_all_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_check_in_times_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/checked_in_at":{"summary":"Station","description":"A device where people can be checked in.\nA device may also be connected to a printer\nand print labels for itself or other stations.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"$ref":"#/components/parameters/event_where_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_name_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_id_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_name_parameter"},{"$ref":"#/components/parameters/event_where_location_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_location_event_id_parameter"},{"$ref":"#/components/parameters/event_where_location_event_name_parameter"},{"$ref":"#/components/parameters/event_where_print_station_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_print_station_event_id_parameter"},{"$ref":"#/components/parameters/event_where_print_station_event_name_parameter"},{"$ref":"#/components/parameters/station_include_parameter"},{"$ref":"#/components/parameters/station_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/location_all_fields_parameter"},{"$ref":"#/components/parameters/theme_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/option_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_checked_in_at_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/checked_in_at/{checked_in_at_id}":{"summary":"Station","description":"A device where people can be checked in.\nA device may also be connected to a printer\nand print labels for itself or other stations.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"checked_in_at_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckedInAt id"},{"$ref":"#/components/parameters/station_include_parameter"},{"$ref":"#/components/parameters/station_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/location_all_fields_parameter"},{"$ref":"#/components/parameters/theme_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/option_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_checked_in_at_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/checked_in_by":{"summary":"Person","description":"An attendee, volunteer or administrator.\n\n_Usually_, a person who checked in will be present as a `Person`. In some cases, they may not be present:\n- The person was manually deleted from the admin interface\n- The check-in was created as a \"Visitor - Label Only\" (which doesn't create a corresponding person record)\n\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"$ref":"#/components/parameters/person_where_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_permission_parameter"},{"$ref":"#/components/parameters/person_where_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_search_name_parameter"},{"$ref":"#/components/parameters/person_order_parameter"},{"$ref":"#/components/parameters/person_include_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/organization_all_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_checked_in_by_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/checked_in_by/{checked_in_by_id}":{"summary":"Person","description":"An attendee, volunteer or administrator.\n\n_Usually_, a person who checked in will be present as a `Person`. In some cases, they may not be present:\n- The person was manually deleted from the admin interface\n- The check-in was created as a \"Visitor - Label Only\" (which doesn't create a corresponding person record)\n\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"checked_in_by_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckedInBy id"},{"$ref":"#/components/parameters/person_include_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/organization_all_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_checked_in_by_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/checked_out_by":{"summary":"Person","description":"An attendee, volunteer or administrator.\n\n_Usually_, a person who checked in will be present as a `Person`. In some cases, they may not be present:\n- The person was manually deleted from the admin interface\n- The check-in was created as a \"Visitor - Label Only\" (which doesn't create a corresponding person record)\n\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"$ref":"#/components/parameters/person_where_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_permission_parameter"},{"$ref":"#/components/parameters/person_where_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_search_name_parameter"},{"$ref":"#/components/parameters/person_order_parameter"},{"$ref":"#/components/parameters/person_include_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/organization_all_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_checked_out_by_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/checked_out_by/{checked_out_by_id}":{"summary":"Person","description":"An attendee, volunteer or administrator.\n\n_Usually_, a person who checked in will be present as a `Person`. In some cases, they may not be present:\n- The person was manually deleted from the admin interface\n- The check-in was created as a \"Visitor - Label Only\" (which doesn't create a corresponding person record)\n\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"checked_out_by_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckedOutBy id"},{"$ref":"#/components/parameters/person_include_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/organization_all_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_checked_out_by_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event":{"summary":"Event","description":"A recurring event which people may attend.\n\nEach recurrence is an _event period_ (which often corresponds to a week).\n\nEvent periods have _event times_ where people may actually check in.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"$ref":"#/components/parameters/event_where_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_id_parameter"},{"$ref":"#/components/parameters/event_where_name_parameter"},{"$ref":"#/components/parameters/attendancetype_where_attendance_types_id_parameter"},{"$ref":"#/components/parameters/attendancetype_where_attendance_types_name_parameter"},{"$ref":"#/components/parameters/event_where_attendance_types_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_attendance_types_event_id_parameter"},{"$ref":"#/components/parameters/event_where_attendance_types_event_name_parameter"},{"$ref":"#/components/parameters/event_order_parameter"},{"$ref":"#/components/parameters/event_include_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_all_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_event_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event/{event_id}":{"summary":"Event","description":"A recurring event which people may attend.\n\nEach recurrence is an _event period_ (which often corresponds to a week).\n\nEvent periods have _event times_ where people may actually check in.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Event id"},{"$ref":"#/components/parameters/event_include_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_all_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_event_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period":{"summary":"EventPeriod","description":"A recurrence of an event, sometimes called a \"session\".\nFor weekly events, an event period is a week. For daily events, an event period is a day.\nAn event period has event times, which is what people select\nwhen they actually check in. When new sessions are created, times\nare copied from one session to the next.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"$ref":"#/components/parameters/eventperiod_where_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_ends_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_name_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_lte_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_id_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_name_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_name_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_lte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_gt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_gte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_lt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_lte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_gt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_gte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_lt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_order_parameter"},{"$ref":"#/components/parameters/eventperiod_include_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/headcount_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_event_period_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}":{"summary":"EventPeriod","description":"A recurrence of an event, sometimes called a \"session\".\nFor weekly events, an event period is a week. For daily events, an event period is a day.\nAn event period has event times, which is what people select\nwhen they actually check in. When new sessions are created, times\nare copied from one session to the next.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"$ref":"#/components/parameters/eventperiod_include_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/headcount_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/check_in_event_period_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}/check_ins":{"summary":"CheckIn","description":"An attendance record for an event.\n\nIf someone was checked out, `checked_out_at` will be present.\n\nYou can scope check-ins in a few ways:\n\n- `regular`s, `guest`s, and `volunteer`s correspond to the option selected when checking in.\n- `attendee`s are `regular`s and `guest`s together.\n- `one_time_guest`s are check-ins which were created without a corresponding person record.\n- `not_one_time_guest`s are check-ins which had a corresponding person record when they were created.\n- `checked_out` are check-ins where `checked_out_at` is present (meaning they were checked out from a station).\n- `first_time`s are check-ins which are the person's first for a given event. (Label-only visitors are not included here.)\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"$ref":"#/components/parameters/event_period_check_ins_filter_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_gt_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_gte_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_lt_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_lte_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_gt_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_gte_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_lt_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_lte_parameter"},{"$ref":"#/components/parameters/checkin_where_account_center_person_id_parameter"},{"$ref":"#/components/parameters/checkin_where_security_code_parameter"},{"$ref":"#/components/parameters/checkin_where_event_id_parameter"},{"$ref":"#/components/parameters/checkin_where_location_ids_parameter"},{"$ref":"#/components/parameters/person_where_checked_in_by_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_checked_in_by_permission_parameter"},{"$ref":"#/components/parameters/person_where_checked_in_by_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_checked_in_by_search_name_parameter"},{"$ref":"#/components/parameters/person_where_checked_out_by_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_checked_out_by_permission_parameter"},{"$ref":"#/components/parameters/person_where_checked_out_by_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_checked_out_by_search_name_parameter"},{"$ref":"#/components/parameters/event_where_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_name_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_person_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_person_permission_parameter"},{"$ref":"#/components/parameters/person_where_person_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_person_search_name_parameter"},{"$ref":"#/components/parameters/event_where_checked_in_at_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_checked_in_at_event_id_parameter"},{"$ref":"#/components/parameters/event_where_checked_in_at_event_name_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_id_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_name_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_name_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_name_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_lte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_gt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_gte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_lt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_lte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_gt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_gte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_lt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_locations_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_locations_event_id_parameter"},{"$ref":"#/components/parameters/event_where_locations_event_name_parameter"},{"$ref":"#/components/parameters/checkin_order_parameter"},{"$ref":"#/components/parameters/checkin_include_parameter"},{"$ref":"#/components/parameters/checkin_all_fields_parameter"},{"$ref":"#/components/parameters/checkintime_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/location_all_fields_parameter"},{"$ref":"#/components/parameters/option_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/station_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/headcount_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/label_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/theme_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/event_period_check_ins_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}/check_ins/{check_in_id}":{"summary":"CheckIn","description":"An attendance record for an event.\n\nIf someone was checked out, `checked_out_at` will be present.\n\nYou can scope check-ins in a few ways:\n\n- `regular`s, `guest`s, and `volunteer`s correspond to the option selected when checking in.\n- `attendee`s are `regular`s and `guest`s together.\n- `one_time_guest`s are check-ins which were created without a corresponding person record.\n- `not_one_time_guest`s are check-ins which had a corresponding person record when they were created.\n- `checked_out` are check-ins where `checked_out_at` is present (meaning they were checked out from a station).\n- `first_time`s are check-ins which are the person's first for a given event. (Label-only visitors are not included here.)\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"$ref":"#/components/parameters/checkin_include_parameter"},{"$ref":"#/components/parameters/checkin_all_fields_parameter"},{"$ref":"#/components/parameters/checkintime_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/location_all_fields_parameter"},{"$ref":"#/components/parameters/option_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/station_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/headcount_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/label_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/theme_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/event_period_check_ins_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}/event":{"summary":"Event","description":"A recurring event which people may attend.\n\nEach recurrence is an _event period_ (which often corresponds to a week).\n\nEvent periods have _event times_ where people may actually check in.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"$ref":"#/components/parameters/event_where_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_id_parameter"},{"$ref":"#/components/parameters/event_where_name_parameter"},{"$ref":"#/components/parameters/attendancetype_where_attendance_types_id_parameter"},{"$ref":"#/components/parameters/attendancetype_where_attendance_types_name_parameter"},{"$ref":"#/components/parameters/event_where_attendance_types_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_attendance_types_event_id_parameter"},{"$ref":"#/components/parameters/event_where_attendance_types_event_name_parameter"},{"$ref":"#/components/parameters/event_order_parameter"},{"$ref":"#/components/parameters/event_include_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_all_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/event_period_event_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}/event/{event_id}":{"summary":"Event","description":"A recurring event which people may attend.\n\nEach recurrence is an _event period_ (which often corresponds to a week).\n\nEvent periods have _event times_ where people may actually check in.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"name":"event_id","in":"path","schema":{"type":"string"},"required":true,"description":"The Event id"},{"$ref":"#/components/parameters/event_include_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_all_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/event_period_event_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}/event_times":{"summary":"EventTime","description":"A time that someone may check in. Times are copied from session to session.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"$ref":"#/components/parameters/event_period_event_times_filter_parameter"},{"$ref":"#/components/parameters/eventtime_where_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_name_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_lte_parameter"},{"$ref":"#/components/parameters/headcount_where_headcounts_created_at_parameter"},{"$ref":"#/components/parameters/headcount_where_headcounts_created_at_gt_parameter"},{"$ref":"#/components/parameters/headcount_where_headcounts_created_at_gte_parameter"},{"$ref":"#/components/parameters/headcount_where_headcounts_created_at_lt_parameter"},{"$ref":"#/components/parameters/headcount_where_headcounts_created_at_lte_parameter"},{"$ref":"#/components/parameters/headcount_where_headcounts_updated_at_parameter"},{"$ref":"#/components/parameters/headcount_where_headcounts_updated_at_gt_parameter"},{"$ref":"#/components/parameters/headcount_where_headcounts_updated_at_gte_parameter"},{"$ref":"#/components/parameters/headcount_where_headcounts_updated_at_lt_parameter"},{"$ref":"#/components/parameters/headcount_where_headcounts_updated_at_lte_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_id_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_name_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_name_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_lte_parameter"},{"$ref":"#/components/parameters/attendancetype_where_headcounts_attendance_type_id_parameter"},{"$ref":"#/components/parameters/attendancetype_where_headcounts_attendance_type_name_parameter"},{"$ref":"#/components/parameters/eventtime_where_headcounts_event_time_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_headcounts_event_time_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_headcounts_event_time_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_headcounts_event_time_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_headcounts_event_time_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_headcounts_event_time_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_headcounts_event_time_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_headcounts_event_time_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_headcounts_event_time_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_headcounts_event_time_updated_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_order_parameter"},{"$ref":"#/components/parameters/eventtime_include_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/headcount_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/event_period_event_times_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}/event_times/{event_time_id}":{"summary":"EventTime","description":"A time that someone may check in. Times are copied from session to session.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"name":"event_time_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventTime id"},{"$ref":"#/components/parameters/eventtime_include_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/headcount_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/event_period_event_times_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}/location_event_periods":{"summary":"LocationEventPeriod","description":"Counts check-ins for a location during a certain event period.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_name_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_location_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_location_event_id_parameter"},{"$ref":"#/components/parameters/event_where_location_event_name_parameter"},{"$ref":"#/components/parameters/locationeventperiod_include_parameter"},{"$ref":"#/components/parameters/locationeventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/location_all_fields_parameter"},{"$ref":"#/components/parameters/event_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/eventtime_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/option_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/event_period_location_event_periods_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}/location_event_periods/{location_event_period_id}":{"summary":"LocationEventPeriod","description":"Counts check-ins for a location during a certain event period.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"name":"location_event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The LocationEventPeriod id"},{"$ref":"#/components/parameters/locationeventperiod_include_parameter"},{"$ref":"#/components/parameters/locationeventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/location_all_fields_parameter"},{"$ref":"#/components/parameters/event_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/eventtime_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/option_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/event_period_location_event_periods_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}/location_event_periods/{location_event_period_id}/check_ins":{"summary":"CheckIn","description":"An attendance record for an event.\n\nIf someone was checked out, `checked_out_at` will be present.\n\nYou can scope check-ins in a few ways:\n\n- `regular`s, `guest`s, and `volunteer`s correspond to the option selected when checking in.\n- `attendee`s are `regular`s and `guest`s together.\n- `one_time_guest`s are check-ins which were created without a corresponding person record.\n- `not_one_time_guest`s are check-ins which had a corresponding person record when they were created.\n- `checked_out` are check-ins where `checked_out_at` is present (meaning they were checked out from a station).\n- `first_time`s are check-ins which are the person's first for a given event. (Label-only visitors are not included here.)\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"name":"location_event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The LocationEventPeriod id"},{"$ref":"#/components/parameters/location_event_period_check_ins_filter_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_gt_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_gte_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_lt_parameter"},{"$ref":"#/components/parameters/checkin_where_created_at_lte_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_gt_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_gte_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_lt_parameter"},{"$ref":"#/components/parameters/checkin_where_updated_at_lte_parameter"},{"$ref":"#/components/parameters/checkin_where_account_center_person_id_parameter"},{"$ref":"#/components/parameters/checkin_where_security_code_parameter"},{"$ref":"#/components/parameters/checkin_where_event_id_parameter"},{"$ref":"#/components/parameters/checkin_where_location_ids_parameter"},{"$ref":"#/components/parameters/person_where_checked_in_by_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_checked_in_by_permission_parameter"},{"$ref":"#/components/parameters/person_where_checked_in_by_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_checked_in_by_search_name_parameter"},{"$ref":"#/components/parameters/person_where_checked_out_by_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_checked_out_by_permission_parameter"},{"$ref":"#/components/parameters/person_where_checked_out_by_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_checked_out_by_search_name_parameter"},{"$ref":"#/components/parameters/event_where_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_name_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_period_ends_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_lte_parameter"},{"$ref":"#/components/parameters/person_where_person_ignore_filters_parameter"},{"$ref":"#/components/parameters/person_where_person_permission_parameter"},{"$ref":"#/components/parameters/person_where_person_headcounter_parameter"},{"$ref":"#/components/parameters/person_where_person_search_name_parameter"},{"$ref":"#/components/parameters/event_where_checked_in_at_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_checked_in_at_event_id_parameter"},{"$ref":"#/components/parameters/event_where_checked_in_at_event_name_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_id_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_name_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_period_event_name_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_period_event_times_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_name_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_lte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_gt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_gte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_lt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_lte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_gt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_gte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_lt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_locations_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_locations_event_id_parameter"},{"$ref":"#/components/parameters/event_where_locations_event_name_parameter"},{"$ref":"#/components/parameters/checkin_order_parameter"},{"$ref":"#/components/parameters/checkin_include_parameter"},{"$ref":"#/components/parameters/checkin_all_fields_parameter"},{"$ref":"#/components/parameters/checkintime_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/location_all_fields_parameter"},{"$ref":"#/components/parameters/option_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/station_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/headcount_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/label_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/theme_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/location_event_period_check_ins_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}/location_event_periods/{location_event_period_id}/check_ins/{check_in_id}":{"summary":"CheckIn","description":"An attendance record for an event.\n\nIf someone was checked out, `checked_out_at` will be present.\n\nYou can scope check-ins in a few ways:\n\n- `regular`s, `guest`s, and `volunteer`s correspond to the option selected when checking in.\n- `attendee`s are `regular`s and `guest`s together.\n- `one_time_guest`s are check-ins which were created without a corresponding person record.\n- `not_one_time_guest`s are check-ins which had a corresponding person record when they were created.\n- `checked_out` are check-ins where `checked_out_at` is present (meaning they were checked out from a station).\n- `first_time`s are check-ins which are the person's first for a given event. (Label-only visitors are not included here.)\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"name":"location_event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The LocationEventPeriod id"},{"$ref":"#/components/parameters/checkin_include_parameter"},{"$ref":"#/components/parameters/checkin_all_fields_parameter"},{"$ref":"#/components/parameters/checkintime_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/location_all_fields_parameter"},{"$ref":"#/components/parameters/option_all_fields_parameter"},{"$ref":"#/components/parameters/person_all_fields_parameter"},{"$ref":"#/components/parameters/station_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/headcount_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/label_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/organization_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/theme_only_attributes_fields_parameter"}],"responses":{"200":{"description":"Successful read response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/location_event_period_check_ins_resource_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}/location_event_periods/{location_event_period_id}/event_period":{"summary":"EventPeriod","description":"A recurrence of an event, sometimes called a \"session\".\nFor weekly events, an event period is a week. For daily events, an event period is a day.\nAn event period has event times, which is what people select\nwhen they actually check in. When new sessions are created, times\nare copied from one session to the next.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"name":"location_event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The LocationEventPeriod id"},{"$ref":"#/components/parameters/eventperiod_where_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_ends_at_lte_parameter"},{"$ref":"#/components/parameters/event_where_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_name_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_created_at_lte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_gt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_gte_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_lt_parameter"},{"$ref":"#/components/parameters/eventtime_where_event_times_updated_at_lte_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_id_parameter"},{"$ref":"#/components/parameters/attendancetype_where_event_attendance_types_name_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_registration_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_id_parameter"},{"$ref":"#/components/parameters/event_where_event_times_event_name_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_starts_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_gt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_gte_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_lt_parameter"},{"$ref":"#/components/parameters/eventperiod_where_event_times_event_period_ends_at_lte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_gt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_gte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_lt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_created_at_lte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_gt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_gte_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_lt_parameter"},{"$ref":"#/components/parameters/headcount_where_event_times_headcounts_updated_at_lte_parameter"},{"$ref":"#/components/parameters/eventperiod_order_parameter"},{"$ref":"#/components/parameters/eventperiod_include_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/headcount_only_attributes_fields_parameter"},{"$ref":"#/components/parameters/pagination_offset_parameter"},{"$ref":"#/components/parameters/pagination_per_page_parameter"}],"responses":{"200":{"description":"Successful collection response","content":{"application/json":{"schema":{"$ref":"#/components/schemas/location_event_period_event_period_collection_envelope"}}}},"400":{"$ref":"#/components/responses/400_read"},"401":{"$ref":"#/components/responses/401"},"403":{"$ref":"#/components/responses/403"},"404":{"$ref":"#/components/responses/404"},"500":{"$ref":"#/components/responses/500"}}}},"/check_ins/{check_in_id}/event_period/{event_period_id}/location_event_periods/{location_event_period_id}/event_period/{event_period_id}":{"summary":"EventPeriod","description":"A recurrence of an event, sometimes called a \"session\".\nFor weekly events, an event period is a week. For daily events, an event period is a day.\nAn event period has event times, which is what people select\nwhen they actually check in. When new sessions are created, times\nare copied from one session to the next.\n","get":{"tags":["CheckIn"],"parameters":[{"name":"check_in_id","in":"path","schema":{"type":"string"},"required":true,"description":"The CheckIn id"},{"name":"event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The EventPeriod id"},{"name":"location_event_period_id","in":"path","schema":{"type":"string"},"required":true,"description":"The LocationEventPeriod id"},{"$ref":"#/components/parameters/eventperiod_include_parameter"},{"$ref":"#/components/parameters/eventperiod_all_fields_parameter"},{"$ref":"#/components/parameters/event_all_fields_parameter"},{"$ref":"#/components/parameters/eventtime_all_fields_parameter"},{"$ref":"#/components/parameters/attendancetype_only_a
[...]
